# Dependencies
node_modules/

# Build output
dist/

# Testing
tests/
coverage/
*.test.ts

# Version control
# The .git/ dir is not excluded from the build context because we need it to get a version tag in the build stage.
# This is not a problem because the Dockerfile only copies the build output from /app/dist into the final image.
.gitignore

# CI/CD
.github/

# IDE & Editor
.vscode/
.idea/
*.swp
*.swo
*~

# Documentation
README.md
CONTRIBUTING.md
LICENSE

# Docker
Dockerfile
.dockerignore
compose.yml
compose.override.yml

# Linting & Formatting
.eslintcache
.eslintrc*
eslint.config.ts
.prettierrc*
.oxlintrc.json

# Environment
.env
.env.*
*.local
*.local.json
.nvmrc

# OS specific
Thumbs.db
.DS_Store

# Logs
logs/
*.log*

# Various
.cache/
.tmp/
.temp/
