# Logs
logs
*.log
npm-debug.log*

node_modules
.DS_Store
dist
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.sw?

*.tsbuildinfo

.eslintcache

# Vite
*.timestamp-*-*.mjs

# Environment variable files
*.env
!.development.env
